In [92]:
import numpy as np
import pandas as pd
import mne

In [93]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [94]:
participants = pd.read_csv('../ds003498-download/participants.tsv', sep = '\t')
participants.index = np.arange(1, len(participants) + 1)
participants
participants.at[1,'epilepsy']
participants.shape

,participant_id,age,sex,hand,epilepsy,ilae,nights,outcome,months_follow_up,lesion
1,sub-01,NaN,NaN,NaN,TLE,1,4,S,12,1
2,sub-02,33.0,M,NaN,TLE,1,2,S,29,1
3,sub-03,20.0,F,NaN,TLE,1,5,S,13,0
4,sub-04,20.0,F,NaN,TLE,1,6,S,41,0
5,sub-05,40.0,M,NaN,TLE,1,5,S,14,0
6,sub-06,48.0,M,NaN,TLE,1,5,S,11,0
7,sub-07,25.0,M,NaN,TLE,3,1,F,42,0
8,sub-08,21.0,F,NaN,TLE,3,2,F,15,0
9,sub-09,52.0,M,NaN,TLE,5,2,F,46,0
10,sub-10,37.0,M,NaN,ETE,1,1,S,36,1
11,sub-11,36.0,M,NaN,ETE,1,3,S,37,1
12,sub-12,49.0,M,NaN,ETE,1,4,S,25,1
13,sub-13,17.0,M,NaN,ETE,1,2,S,25,1
14,sub-14,46.0,F,NaN,ETE,1,2,S,10,1
15,sub-15,31.0,F,NaN,ETE,1,4,S,25,1
16,sub-16,17.0,F,NaN,ETE,1,2,S,19,1
17,sub-17,30.0,M,NaN,ETE,5,1,F,45,1
18,sub-18,40.0,M,NaN,ETE,5,1,F,30,1
19,sub-19,38.0,M,NaN,ETE,6,2,F,11,1
20,sub-20,17.0,M,NaN,ETE,5,4,F,16,1

'TLE'

(20, 10)

In [95]:
list_of_hfo_events = []
list_of_hfo_events1 = []
list_of_hfo_events_2 = []
Y_train = []


for i in range(1, 10):
    hfo = pd.read_csv(f'../ds003498-download/sub-0{i}/ses-interictalsleep/ieeg/sub-0{i}_ses-interictalsleep_run-01_events.tsv', sep = '\t')
    (x, y) = hfo.shape
    list_of_hfo_events1.append(hfo)
    for m in range (x):
          Y_train.append(participants.at[i, 'epilepsy'])

In [96]:
len(Y_train)

31272

In [97]:
for i in range (11, 21):
    hfo = pd.read_csv(f'../ds003498-download/sub-{i}/ses-interictalsleep/ieeg/sub-{i}_ses-interictalsleep_run-01_events.tsv', sep = '\t')
    list_of_hfo_events_2.append(hfo)
    for m in range (x):
          Y_train.append(participants.at[i, 'epilepsy'])

In [98]:
list_of_hfo_events = list_of_hfo_events1 + list_of_hfo_events_2
hfo_events = pd.concat(list_of_hfo_events)
hfo_events

         onset  duration       trial_type  value  sample
0       0.0015    0.0160        fr_PHR1-2     21       3
1       0.0015    0.0515    ripple_AHR3-4     41       3
2       0.0525    0.0695     ripple_HL2-3     48     105
3       0.0530    0.0510     ripple_HL3-4     49     106
4       0.1795    0.0420    ripple_IAR1-2     50     359
...        ...       ...              ...    ...     ...
5748  299.7770    0.0450    ripple_OTL7-8     41  599554
5749  299.7820    0.0435    ripple_OTL6-7     40  599564
5750  299.8030    0.0800   ripple_OTL9-10     42  599606
5751  299.8295    0.0755  ripple_OTL13-14     33  599659
5752  299.8330    0.1155    ripple_OTL3-4     37  599666

[195175 rows x 5 columns]

In [99]:
len(Y_train)
Y_train

75882

['TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 'TLE',
 ...]