In [1]:
import numpy as np
import pandas as pd

In [2]:
n_finaldf = pd.read_csv('nfinal.csv', sep = ',')

In [3]:
n_finaldf

,Unnamed: 0,nChannel,strChannelName,indStart,indStop,indDuration,Event_RMS,Window_RMS,EventPeak2Peak,SNR,Amplpp,PowerTrough,Ftrough,PowmaxFR,fmax_FR,EvPassRejection
0,0,1,Fp1-Fp2,575329,575379,50,1.952451,1.061534,6.503785,3.382925,7.442305,0.429407,172.0,0.649347,171,0
1,1,2,Fp1-F7,236901,236984,83,7.704780,1.176138,46.224505,42.914486,46.224505,0.962371,NaN,4.425388,300,0
2,2,2,Fp1-F7,365682,365853,171,7.411193,1.795490,38.289513,17.037674,38.289513,1.701670,83.0,3.779875,82,0
3,3,3,F7-T3,236902,236990,88,7.386052,1.166535,44.455175,40.089370,44.455175,1.864868,83.0,1.113908,82,0
4,4,3,F7-T3,340160,340263,103,4.486742,1.220474,23.794207,13.514659,23.794207,0.969517,137.0,2.109847,136,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18548,16,43,T6-C4,528032,528073,41,3.875129,2.421135,12.694976,2.561736,16.536934,1.139359,171.0,2.248457,191,0
18549,17,47,T4-P4,33198,33393,195,8.645015,2.620624,48.034571,10.882331,48.034571,1.404844,147.0,4.056164,146,0
18550,18,47,T4-P4,534179,534307,128,11.562847,3.801207,74.576614,9.253085,74.576614,2.465632,68.0,3.897449,92,0
18551,19,51,T4-F4,33342,33395,53,12.856005,3.075548,52.015995,17.472981,52.015995,1.908293,151.0,2.212825,150,0
18552,20,51,T4-F4,534196,534258,62,14.283228,4.029833,71.914760,12.562575,71.914760,3.001316,63.0,5.890994,92,0

In [18]:
n_final = n_finaldf.drop([n_finaldf.columns[0], n_finaldf.columns[1], n_finaldf.columns[3], n_finaldf.columns[4], n_finaldf.columns[6], n_finaldf.columns[7], n_finaldf.columns[8],n_finaldf.columns[9], n_finaldf.columns[11], n_finaldf.columns[12], n_finaldf.columns[13], n_finaldf.columns[15]], axis = 1)
n_final

     strChannelName  indDuration     Amplpp  fmax_FR
0           Fp1-Fp2           50   7.442305      171
1            Fp1-F7           83  46.224505      300
2            Fp1-F7          171  38.289513       82
3             F7-T3           88  44.455175       82
4             F7-T3          103  23.794207      136
...             ...          ...        ...      ...
6589          F4-Cz           72  10.892247      120
6590          F4-Cz           87  15.326879      121
6591          F4-Cz           71  12.848486      131
6592          F4-Cz           65  72.514630      111
6593          F4-Cz           46  72.514630      300

[6594 rows x 4 columns]

In [28]:
empty_list = []
for i in range(4):
    empty_list.append(0)
empty_zeroes = []
for i in range(6594):
    empty_zeroes.append(empty_list)
data = empty_zeroes
final_df = pd.DataFrame(data, columns = n_final.columns)

final_df

      strChannelName  indDuration  Amplpp  fmax_FR
0                  0            0       0        0
1                  0            0       0        0
2                  0            0       0        0
3                  0            0       0        0
4                  0            0       0        0
...              ...          ...     ...      ...
6589               0            0       0        0
6590               0            0       0        0
6591               0            0       0        0
6592               0            0       0        0
6593               0            0       0        0

[6594 rows x 4 columns]

In [25]:
for i in range(len(n_final.index)):
    if i == 2:
        break
    else:
        final_df.loc[i] = n_final[i]
n_final

KeyError: 0